Django==5.2.13
django-bootstrap5==26.1
djangorestframework==3.17.1
django-environ==0.13.0
django-extensions==4.1
zeep==4.3.2
requests==2.33.1
urllib3==2.6.3
openpyxl==3.1.5
xlsxwriter==3.2.9
reportlab==4.4.10
weasyprint==68.1
PyPDF2==3.0.1
celery==5.6.3
redis==7.4.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
Pillow==12.2.0
python-stdnum==2.2
mod_wsgi==5.0.2
psycopg==3.3.3
cryptography==46.0.7
pyOpenSSL==26.0.0
lxml==6.0.3
requests==2.33.1
pycurl==7.45.7
qrcode==8.2
weasyprint==68.1
reportbro-lib==3.12.1
hidash==0.2.29
bokeh==3.9.0